.DS_Store
.DS_Store?
._*
__pycache__
public_data/
public_data.zip
HiggsML-code_submission_24*
Submission_24*
sample_result_submission/
XGB_saved/
docs/_build/doctrees
*.log
*.zip
plots
*.ipynb_checkpoints
test/temp/
docs/_build/html
detailed_results.html
